@import "bourbon";

//color
$green: #34e6bb;
$blue: #34c6ee;
$gray: #535353;


//font
$os: "Open Sans", sans-serif;
$roboto: "Roboto", sans-serif;
$palatino: "Palatino Linotype", "Times New Roman", "Roboto", sans-serif;;
$roboto-cond: "Roboto Condensed", sans-serif;

//viewport size
$desktop: "1200px";
$tablet: "992px";
$phone: "768px";
$extra-small: "480px";