@import "header";

header {
	.top-line {
		height: 45px;
		background: #34c6ee;
		background: -moz-linear-gradient(left, #34c6ee 0%, #34e6bb 100%);
		background: -webkit-linear-gradient(left, #34c6ee 0%,#34e6bb 100%);
		background: linear-gradient(to right, #34c6ee 0%,#34e6bb 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34c6ee', endColorstr='#34e6bb',GradientType=1 );
		padding: 10px 0;
		.social i {
			font-size: 24px;
			margin-right: 25px;
			color: #fff;
			transition: all .25s;
			&:hover {color: #ddd;}
		}
		.top-menu {
			float: right;
			li {
				padding: 2px 15px;
				display: inline-block;
				a {
					color: #535353;
					font-size: 15px;
					transition: all .25s;
					&:hover {color: #fff;}
				}
			}
		}
	}
	.bottom-line {
		padding-bottom: 40px;
		.second-img {
			max-width: 80px;
			margin-top: 20px;
		}
		.logo {
			img {max-width: 100%;}
		}
		.nadpis-1, .nadpis-2 {
			padding-left: 40px;
			font-size: 16px;
			color: #7a7a7a;
			margin-bottom: 10px;
			position: relative;
		}
		.nadpis-1 {
			margin-top: 35px;
			&:before {
				content: '\f017';
				font-family: "FontAwesome";
				font-size: 30px;
				color: $green;
				position: absolute;
				top: 0;
				left: 7px;
			}
		}
		.nadpis-2:before {
			content: '\f041';
			font-family: "FontAwesome";
			font-size: 36px;
			color: $green;
			position: absolute;
			top: 0;
			left: 10px;
		}
		.header-tel {
			text-align: right;
			a.tel {
				color: #535353;
				font-size: 30px;
				font-family: $roboto-cond;
				font-weight: 600;
				display: inline-block;
				margin-top: 30px;
				margin-bottom: 20px;
				position: relative;
				transition: all .25s;
				&:hover {color: #999;}
				&:before {
					content: '\f095';
					font-family: "FontAwesome";
					font-size: 30px;
					position: absolute;
					top: 2px;
					left: -32px;
				}
			}
			.callback {
				width: 195px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				font-size: 20px;
				color: $gray;
				background-color: $blue;
				display: inline-block;
				transition: all .25s;
				&:hover {opacity: .85;}
			}
		}
	}
}








// ////////////////// MODALS

#callback-modal {
	width: 400px;
	background-color: #fff;
	padding: 30px;
	position: relative;
	input {
		width: 100%;
		padding: 10px;
		margin-bottom: 15px;
	}
	input[type="submit"] {
		margin-bottom: 0;
		border: none;
		// background-color: $red;
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
		padding: 10px;
	}
}
#map-box {
	position: relative;
	width: 900px;
	height: 550px;
}
.arcticmodal-close {
	position: absolute;
	display: block;
	width: 25px;
	height: 25px;
	top: -30px;
	right: -30px;
	background-image: url('../img/close-btn.png');
	background-size: contain;
	cursor: pointer;
}
// ////////////////// MODALS






@import "media";  //всегда в конце